$font-primary: 'Space Mono', monospace;
$font-size-input: 24px;
$green-400: hsl(172, 67%, 45%);
$green-900: hsl(183, 100%, 15%);
$green-800: #085C61;
$green-750: #0D686D;
$green-200: #9FE8DF;
$grey-500: hsl(186, 14%, 43%);
$grey-550: #547878;
$grey-400: hsl(184, 14%, 56%);
$grey-300: hsl(184, 19%, 68%);
$grey-200: hsl(185, 41%, 84%);
$grey-50: hsl(189, 47%, 97%);
$orange-400: #E17052;

$white: hsl(0, 100%, 100%);
// Design references: 375px mobile / 1440px desktop.
$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
);
